.DarkMagician {
  background-image: url("https://product-images.tcgplayer.com/253907.jpg");
}
.BlueEyesWhiteDragon {
  background-image: url("https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/516AtPc6CeL._AC_UF894,1000_QL80_.jpg");
}
.BlueDragonSummoner {
  background-image: url("https://i.ebayimg.com/images/g/Ir0AAOSw0hlZJc7s/s-l1600.jpg");
}
