.yugi-card {
  position: absolute;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 118px; /* ancho fijo en píxeles */
  height: 172px; /* alto fijo en píxeles */
  background-size: contain;
  background-position: center;
  --rotate: 0deg; /*lo relacionado a rotacion*/
  transform: rotate(var(--rotate));
  transition: transform 0.3s ease-in-out;
}

.selected {
  border: 3px solid green !important; /* Ancho, estilo y color del borde, el important es porque jerarquicamente, "#" supera a "." */
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
}

.face-down {
  background-color: black !important;
  background-blend-mode: multiply;
}

.rotate-90 {
  --rotate: 90deg;
}

.big-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
   z-index: 999999; /* set a high z-index value */
}

.big-container img {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
}

#field {
  height: 200px;
}

#extra {
  height: 200px;
}
